/Homework/Homework0/Homework0/build/
/Homework/Homework0/Homework0/dist/
/Homework/Homework0/build/
/Homework/Homework0/dist/
/Labs/LabsWeek2/build/
/Labs/LabsWeek2/dist/
/Homework/Homework1/build/
/Homework/Homework1/dist/