/Homework/Homework0/Homework0/build/
/Homework/Homework0/Homework0/dist/
/Homework/Homework0/build/
/Homework/Homework0/dist/
/Labs/LabsWeek2/build/
/Labs/LabsWeek2/dist/
/Homework/Homework1/build/
/Homework/Homework1/dist/
/Homework/HomeworkOne/Problem_1/build/
/Homework/HomeworkOne/Problem_1/dist/
/Homework/HomeworkOne/Problem_2/dist/
/Homework/HomeworkOne/Problem_2/build/
/Homework/HomeworkOne/Problem_5/dist/
/Homework/HomeworkOne/Problem_5/build/
/Homework/HomeworkOne/Problem_7/dist/
/Homework/HomeworkOne/Problem_7/build/
/Labs/LabsWeek3/Problem_5/build/
/Labs/LabsWeek3/Problem_5/dist/
/Labs/LabWeek4/Problem_1/build/
/Labs/LabWeek4/Problem_1/dist/
/Homework/Homework_2/Problem_4/build/
/Homework/Homework_2/Problem_4/dist/
/Homework/Homework_2/Problem_3/build/
/Homework/Homework_2/Problem_3/dist/